$body-bg: #282828;
$body-color: #eeeeee;

$theme-color: (
    "primary": #8eb7fb
);

$red: #fb4934;
$green: #98971a;
$yellow: #d79924;
$blue: #8eb7fb;
$purple: #b16286;
$aqua: #689d6a;

@import "../../node_modules/bootstrap/scss/bootstrap";

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $body-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 3.5px;
}
