<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WSQEHKTWLL"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-WSQEHKTWLL');
        </script>
        {% block head %}
            {% assets "scss_all" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
            {% endassets %}
            <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="preload" href="{{ url_for('static', filename='fonts/cmunrm.ttf') }}" as="font" type="font/woff2" crossorigin>

            <meta charset='UTF-8'/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="Kevin Zheng">
            <meta name="keywords" content="Google, Software Engineer, Physics, Fractional Calculus, University of California Merced, MESA Lab, Mechatronics, Quantum Computing, Computational Physics">
            <meta name="description" content="Kevin Zheng is currently a software engineer at Google.">
        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}
            <nav id="navbar" class="navbar navbar-light navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-content">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            <a class="nav-link" href="{{ url_for('resume') }}">Resume</a>
                            <a class="nav-link" href="{{ url_for('static', filename='thesis.pdf') }}">Thesis</a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {# <hr class="bg-white">
        <div class="container">
            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        </div> #}
        {# optional imports for bootstrap #}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        {# fontawesome #}
        <script src="https://kit.fontawesome.com/eecd862848.js" crossorigin="anonymous"></script>
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
