{% extends 'base.jinja.html' %}
{% block head %}
    {{ super() }}
    <title>Kevin Zheng</title>
{% endblock %}

{% block header %}
    {{ super() }}
    <div id="jumbotron" class="jumbotron jumbotron-fluid text-dark">
        <div class="container rounded text-center pt-4 pb-4">
            <h1 class="display-1" style="font-family: 'Computer Modern', serif;">Kevin Zheng</h1>
            <p class="lead">
                Software Engineer @ Google
            </p>
            <hr class="my-4">
            <div class="row">
                <div class="col" style="min-width: 20rem">
                    <p>
                        Graduated of University of California, Merced<br>
                        Bachelor of Science in:<br>
                        <i> Computer Science & Engineering </i><br>
                        <i> Physics (emph. Mathematical Physics) </i>
                    </p>
                </div>
                <div class="col text-start" style="min-width: 20rem">
                    <p>
                        Former LADSS Fellow at <a href="https://www.lanl.gov/projects/national-security-education-center/engineering/los-alamos-dynamic-summer-school/programs-2021.php">Los Alamos National Laboratory</a> <br>
                        Former Undergraduate Researcher at the <a href="http://mechatronics.ucmerced.edu/">MESA Lab</a> <br>
                        Former Software Engineering contractor at <a href="https://www.quantum.com/en/">Quantum Corp</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <address>
        zhengkevin256@gmail.com
    </address>
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center">What brings you to my domain <span class="text-muted">name</span>?</h1>
        <div class="row row-eq-height">
            <div class="col col-md-auto">
                <div class="container text-center">
                    <figure class="figure" style="max-width: 15rem">
                        <img src="{{ url_for('static', filename='profile-black.jpg') }}" class="figure-img img-fluid rounded mx-auto d-block" alt="My face.">
                        <figcaption class="figure-caption text-start">Handsome, eh?</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark h-100" style="min-width: 20rem; max-width: 540px">
                    <a href="{{ url_for('research') }}"><img class="card-img-top bg-light py-5 px-3" src="{{ url_for('static', filename='images/research_card.png') }}" alt="Special case of Erdelyi-Kober operator."></a>

                    <div class="card-body">
                        <h5 class="card-title">Interested in my research?</h5>
                        <p class="card-text">
                        I wrote a senior <a href="{{ url_for('static', filename='thesis.pdf') }}">thesis</a> for my physics degree at <abbr title="University of California, Merced">UCM</abbr> under the advisement of <a href="https://sites.google.com/site/chienchihchun/">Dr. Chih-Chun Chien</a> titled "Applications of Fractional Calculus in Quantum Field Theory".
                        I am first author in a paper titled <a href="https://link.springer.com/chapter/10.1007/978-3-031-04098-6_4">"Neuromorphic Data Processing for Event-Driven Imagery for Acoustic Measurements"</a> which was published at <a href="https://sem.org/imac">IMAC</a>.
                            I was an undergraduate researcher at the <a href="http://mechatronics.ucmerced.edu/">MESA Lab</a> researching <a href="https://en.wikipedia.org/wiki/Fractional_calculus">fractional calculus</a>-based drone control techniques.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="bg-light">

    <section id="contact" class="clearfix">
        <div class="my-auto p-auto">
            <div class="row my-3">
                {% for link, icon in [
                    ("https://github.com/CoffeeVector"            , "fab fa-github fa-3x"),
                    ("https://gitlab.com/CoffeeVector"            , "fab fa-gitlab fa-3x"),
                    ("mailto:zhengkevin256@gmail.com"             , "fas fa-envelope fa-3x"),
                ] %}
                <div class="col text-center">
                    <a href="{{ link }}">
                        <i class="{{ icon }}"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
