{% extends 'base.jinja.html' %}
{% block head %}
    {{ super() }}
    <title>Kevin Zheng - Research</title>
{% endblock %}
{% block header %}
    {{ super() }}
    <div id="jumbotron" class="jumbotron jumbotron-fluid text-dark">
        <div class="container">
            <h1 style="font-family: 'Computer Modern', serif;">Research / Publications</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    Work in progress.
{% endblock %}
